/* 基础样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f4f7fb;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
}

/* 主容器 */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1a73e8;
}

.header p {
    font-size: 18px;
    color: #555;
}

/* 代理信息卡 */
.info-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-card h2 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-item strong {
    font-weight: 500;
    color: #555;
}

.info-item span {
    font-weight: 600;
    color: #1a73e8;
}

.warning {
    font-size: 14px;
    color: #d32f2f;
    margin-top: 5px;
    font-style: italic;
}

/* 页脚 */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

footer p {
    font-weight: 400;
}

footer p a {
    color: #1a73e8;
    text-decoration: none;
}

* {
    user-select: none;
}


.sensitive_info {
    transition: filter 0.1s ease;
    filter: blur(10px);   
}

.sensitive_info:hover {
    filter: blur(0);
}